<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8 align-self-center">
                <div class="rodape">
                    <div class="row justify-content-center">
                        <div class="col-sm-10">
                            Copyright 2022 NTTDATA
                        </div>
                        <div class="col-sm-1 align-self-center">
                            <a
                                href="https://web.facebook.com/ntt.data.business.solutions.brazil/?hc_ref=ARTu-VOjuyscCF5w3H8VJ22MsgT1NGpBxLvm4BpF6og4OaOsbXljQINQ4l86MMUzArw&ref=nf_target&fref=tag&rf=276589589187010&_rdc=1&_rdr">
                                <img src="./assets/img/facebook.svg" alt="facebook" class="social">
                            </a>
                        </div>
                        <div class="col-sm-1 align-self-center">
                            <a href="https://www.youtube.com/user/NTTDATAGlobal">
                                <img src="./assets/img/youtubeicon.svg" alt="youtube" class="social">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2"></div>
        </div>
    </div>
</div>