<div class="containerr">

        <div class="titulo">
            <p>Buscar Endereço</p>
        </div>

        <div class="break"></div>

        <div class="formulario">
            <form action="">

                <div class="campo">
                    <label for="nome" class="labels ">Digite seu nome</label>
                    <input type="text" id="nome" class="campoin form-control">
                </div>
                <div class="campo">
                    <label for="cpf" class="labels ">Digite seu CPF</label>
                    <input type="text" id="cpf" class="campoin">
                </div>
                <div class="campo">
                    <label for="email" class="labels ">Digite seu e-mail</label>
                    <input type="text" id="email" class="campoin">
                </div>
                <div class="campo">
                    <label for="cep" class="labels ">Digite seu CEP</label>
                    <input type="text" id="cep" class="campoin">
                </div>

                <div class="botao">
                    <button type="button" class="botao-submit" (click)="buscar()"><p>BUSCAR</p></button>
                </div>

            </form>
        </div>
    </div>

