<div class="bio">
    <div class="flex-box mb-5">
        <div class="conteudo">
            <p class="nome">Leonardo Grigorio Ferreira</p>
            <p class="idade mb-3">19 anos</p>
            <hr class="mb-10">
            <p>27/09/2002 - Libra</p>
            <p>Tatuapé - São Paulo - SP</p>
            <p>Sistemas de Informação (SI) - USP</p>
            <p>Em meu tempo livre gosto de tocar piano, sair com amigos e namorada, assistir filmes e séries,
                principalmente terror e suspense, gosto de desafios de lógica e, casualmente, jogo xadrez.</p>
            
            <div class="space"></div>

            <div class="refs">
                <a href="https://www.instagram.com/leo.grigs/">
                    <img src="./assets/img/insta.jfif" alt="link-Instagram">
                </a>
                <a href="https://github.com/leogrigs">
                    <img src="./assets/img/github.png" alt="link-Github">
                </a>
                <a href="https://www.hackerrank.com/leo_grigorio16">
                    <img src="./assets/img/hh.png" alt="link-Hacker-Rank">
                </a>
                <a href="https://www.linkedin.com/in/leonardo-grigorio-ferreira">
                    <img src="./assets/img/linkdin.png" alt="link-Linkedin">
                </a>
            </div>

        </div>
    </div>
</div>