<div class="formulario">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <div class="titulo mb-3">
                    <p>Buscar Endereço</p>
                </div>

                <div class="formulario">
                    <form [formGroup]="form" (ngSubmit)="buscar()">
            
                        <div class="form-group float-label form-floating mb-3">
                            <label for="name">Digite seu nome</label>
                            <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Digite seu nome">
                        </div>
                        <div class="float-label form-floating mb-3">
                            <label for="cpf">Digite seu CPF</label>
                            <input formControlName="cpf" mask="000.000.000-00" type="text" class="form-control" id="cpf" placeholder="Digite seu CPF">
                        </div>
                        <div class="float-label form-floating mb-3">
                            <label for="email">Digite seu e-mail</label>
                            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Digite seu email">
                        </div>
                        <div class="float-label form-floating mb-3">
                            <label for="cep">Digite seu CEP</label>
                            <input formControlName="cep" type="text" class="form-control" id="cep" placeholder="Digite seu CEP">
                        </div>
            
                        <div class="botao mb-5">
                            <button [disabled]="!form.valid" type="submit" class="botao btn btn-lg">
                                <p>BUSCAR</p>
                            </button>
                        </div>
            
                    </form>
                </div>
                
                <div class="col-sm-2"></div>
                
            </div>
        </div>
    </div>

    <app-todo [msg]="msg"></app-todo>